<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <h2> <%= pluralize(@movie.errors.count,"error") %> prevented movie from being saved: </h2>
    <p> There were problems with the following fields: </p>
    <ul>
    <% @movie.errors.full_messages.each do |msg| %>
      <li> <%= "#{msg}" %> </li>
    <% end %>
    </ul>
   <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :genre %><br />
    <%= f.text_field :genre %>
  </div>
  <div class="field">
    <%= f.label :language %><br />
    <%= f.select :language, ["English", "Hindi", "Telugu"], :include_blank => false %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
